//SuperMario pallet colors:
$color-yellow: #FBD000;
$color-green: #43B047;
$color-black: #000;
$color-blue: #049CD8;
$color-red: #E52521;

$box-shadow: 18px 18px 24px rgba(0, 0, 0, 0.25);
$drop-shadow: drop-shadow(-40px 64px 20px rgba(0, 0, 0, 0.5));
$transition: all 0.75s ease-out;
$border-radius: 8px;

@mixin flex-box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-box {
  display: flex;
  align-items: center;
}

@import 'navbar';

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $color-yellow;
  font-family: 'Montserrat', sans-serif;
}
