//SuperMario pallet colors:
$color-yellow: #FBD000;
$color-green: #43B047;
$color-black: #000;
$color-blue: #049CD8;
$color-red: #E52521;
$color-white: #FFF;

$box-shadow: 18px 18px 24px rgba(0, 0, 0, 0.25);
$drop-shadow: drop-shadow(-40px 64px 20px rgba(0, 0, 0, 0.5));
$transition: all 0.75s ease-out;
$border-radius: 8px;

@mixin flex-box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-box {
  display: flex;
  align-items: center;
}

@import 'navbar', 'card';

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $color-yellow;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 90%;
  margin: 4rem auto 0 auto;

  @include flex-box;
  justify-content: space-between;

  &__left {
    width: 40%;
    margin-left: 5rem;

    .logo {
      width: 100%;
    }

    .paragraph {
      font-size: 1.2rem;
      line-height: 1.6;

      & a {
        text-decoration:none;
        font-weight: 600;
        color: $color-black;
        border-radius: $border-radius;
        padding: .5rem;
        transition: all .5s ease;

        &:hover {
          box-shadow: $box-shadow;
        }
      }
    }

    .social-media a {
      text-decoration: none;
    }

    .social-media img {
      padding: .8rem;
      transition: all .5s ease-in;

      &:hover {
        border-radius: $border-radius;
        box-shadow: $box-shadow;
      }
    }
  }

  &__right {
    width: 70%;
    margin-top: 10em;
  }
}

//MEDIA QUERIES:
@media screen and (max-width: 768px) {
  .container {
    &__left {
      .left__paragraph {
        font-size: 1rem;
        margin-bottom: 2rem;
      }
    }
  
    &__right {
      width: 100%;
      margin-top: 3em;
    }
  }
}