.header {
  width: 100%;
}

.header__navbar {
  width: 90%;
}

.header__navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__navitem {
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.header__navitem a {
  font-size: 1.6rem;
  color: #000;
  text-decoration: none;
}

.header__navitem:hover {
  background-color: #43B047;
  border-radius: 8px;
  -webkit-box-shadow: 18px 18px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 18px 18px 24px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 960px) {
  .header__navbar {
    width: 100%;
  }
  .header__navlist {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card-container {
  width: 50%;
  margin: auto;
}

.card {
  background-color: #E52521;
  border-radius: 8px;
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card__mario {
  position: relative;
}

.card__mario .circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #43B047;
  position: absolute;
  z-index: 1;
}

.card__mario .img {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.card__info {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__info .name {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.card__info .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.6rem;
}

.card__info .detail__img {
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.card__info .detail__description {
  padding: 1rem;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.card__info .detail__item-p {
  font-size: 1rem;
  font-weight: 200;
  color: #FFF;
  margin-bottom: .5rem;
}

.card__info .detail__item-name {
  font-size: 1rem;
  font-weight: 600;
  color: #FFF;
}

@media screen and (max-width: 1000px) {
  .card-container {
    width: 70%;
  }
}

@media screen and (max-width: 960px) {
  .card-container {
    width: 80%;
    margin: auto;
  }
}

.cloud-animation {
  position: absolute;
  top: 30px;
  -webkit-filter: drop-shadow(0px 400px 12px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 400px 12px rgba(0, 0, 0, 0.25));
  -webkit-animation-name: cloud;
          animation-name: cloud;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes cloud {
  from {
    left: 5%;
  }
  to {
    left: 30%;
  }
}

@keyframes cloud {
  from {
    left: 5%;
  }
  to {
    left: 30%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #FBD000;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 90%;
  margin: 4rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__left {
  width: 40%;
  margin-left: 5rem;
}

.container__left .logo {
  width: 100%;
}

.container__left .paragraph {
  font-size: 1.2rem;
  line-height: 1.6;
}

.container__left .paragraph a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
  border-radius: 8px;
  padding: .5rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.container__left .paragraph a:hover {
  -webkit-box-shadow: 18px 18px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 18px 18px 24px rgba(0, 0, 0, 0.25);
}

.container__left .social-media a {
  text-decoration: none;
}

.container__left .social-media img {
  padding: .8rem;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.container__left .social-media img:hover {
  border-radius: 8px;
  -webkit-box-shadow: 18px 18px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 18px 18px 24px rgba(0, 0, 0, 0.25);
}

.container__right {
  width: 70%;
  margin-top: 10em;
}

@media screen and (max-width: 768px) {
  .container__left .left__paragraph {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .container__right {
    width: 100%;
    margin-top: 3em;
  }
}
